<div class="grid-parent question">
  <div class="grid-10">
    <img class="avatar" src="images/avatar.png" alt="avatar">
  </div>
  <div class="grid-90">
    <a href="question.html" data-id="{{_id}}">
      <p>{{text}}</p>
      <small class="align-right block">Asked <strong>{{indexDateFormat createdAt}}</strong></small>
    </a>
  </div>
</div> 
